.see-hero-container{
    height: 45vh;
    background-color: #0C85B7;
    color: #FFFFFF;
    font-size: 0.9rem;
}
.see-card{
    font-size: 0.92rem;
}
.see-heading{
    text-align: left;
    color: #0C85B7;
}