body{
    color:#0C85B7;
    background-color: black;
}
header{
    height: 65px;
    width: 100vw;
    position: fixed;
}

.see-header{
    position: relative;
    z-index:1;
}
.navigation-bar{
    background-color: white;
    position: relative;
    box-shadow:-5px 5px 10px 1px #dadada;
    z-index:2;
    border-radius: 20px  0px 20px 20px;
    margin-top: 76px;
    padding-bottom: 10px;
}