*{
    box-sizing: border-box;
}

.see-hero-container{
    height: 45vh;
    background-color: #0C85B7;
    color: #FFFFFF;
    font-size: 0.9rem;
}
.see-card{
    font-size: 0.92rem;
}
.see-heading{
    text-align: left;
    color: #0C85B7;
}
.see-column{
    margin-top: 0.7rem;
    display: flex;
    flex-direction: column;
}
.see-hero-contact-container{
    background-color: var(--yellow);
    padding: 10px;
}
.see-hero-contact-container i{
    color: var(--light-blue);
    font-size: 45px;
}
.hero-link-container{
    display: flex;
    background-color: var(--light-blue);
    height: 3rem;
    justify-content: center;
    align-items: center;
    justify-self: left;
}

.hero-link-container a{
    color: var(--white);
}
.link{
    text-decoration: none;
    color: var(--light-blue);
}
.see-contact-form{
    width:100%;
}
.blog-nav a{
    color: #0C85B7;
    font-weight: bold;
    border: solid 1px #3A376E;
    border-radius: 100px;
}
.contact-form-suspend{
    top: -5vh;
    left: 0;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    justify-self: center;
    align-items: center;
    padding: 10px;
}
.contact-form-title{
    font-size: 1.3rem;
}
.auth-field-input{
    height: 42px;
    border-radius: 5px;
    border: 1px solid var(--yellow);
    font-family: 'Poppins', sans-serif;
    padding: 0 5px;
    width: 100%;
}
.auth-field-text-area{
    border-radius: 5px;
    border: 1px solid var(--yellow);
    font-family: 'Poppins', sans-serif;
    padding: 0 5px;
    width: 100%;
}
.auth-field-label{
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.see-contact-btn{
    position: relative;
    left: 3rem;
    height: 42px;
    background-color: var(--light-blue);
    border: none;
    outline: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1.05rem;
}





/* all styles for auth pages */
/* 
.auth-container{
    padding: 0;
    margin: 0;
    width: 100vw;
    min-height: 100vh;
    background-image: linear-gradient(to bottom,var(--gradient-yellow), var(--gradient-blue));
    
}

.auth-lgradient{
    margin: 0 !important;
    padding: 0 !important;
    height: 50vh;
    width: 100vw;
    background-image: linear-gradient(to bottom,var(--gradient-yellow), var(--gradient-blue));
}


.see-auth-form{
    height: 90vh;
    overflow-y: auto;
    width: 100%;
    padding: 10px;
    background-color: white;
    border-radius:20px 10px;
}

.see-auth-fields{
    gap: 15px;
    margin-top: 20px;
}



.auth-form-title-container{
    align-self: center;
    text-align: center;

}

.blog-form-title{
    font-size: 1.3rem;
}


.see-auth-btn:hover{
    opacity: 0.5;
    transition: .5s ease;
}

.see-auth-btn:focus{
    opacity: 0.5;
    transition: .5s ease;
}



.auth-password-container{
    position: relative;
    display: flex;
    align-items: center;
    
}
.auth-password-container input{
    width: 100%;
} */
